# Copyright 2018 Adorade. All Rights Reserved.
#
# Travis continuous integration system configuration file.
# Overview on how to customize the configuration is located at:
# http://docs.travis-ci.com/user/customizing-the-build/

language: node_js

node_js:
  - "lts/*"

os:
  - linux
  - osx

git:
  depth: 10

before_install:
  - npm install -g yarn

cache:
  yarn: true
  directories:
    - node_modules

before_script:
  - yarn global add gulp-cli

script:
  - yarn run verify
