//- layout/_layout.pug
doctype html
html(lang="en")
  include ../partials/_stamp
  block setting

  head
    block head
      include ../partials/_meta
    block fonts
      include ../partials/_fonts
    block styles
      include ../partials/_styles
    block head-js
      include ../partials/_analytics

  body
    block drawer
      include ../includes/drawer/_drawer
    .wrapper
      block navigation
        include ../includes/navbar/_navbar
      main
        block sidebar
        block content
      block footer
        include ../includes/footer/_footer
    include ../includes/misc/_back-to-top
    block scripts
      include ../partials/_scripts
    block custom-js
