//- layout/_layout.pug
doctype html
html(lang="en")
  include ../includes/head/_stamp
  block setting

  head
    block head
      include ../includes/head/_head
    block fonts
      include ../includes/files/_fonts
    block styles
      include ../includes/files/_styles
    block head-js
      //- include ../includes/head/_tagmanager

  body
    .wrapper
      block drawer
        include ../includes/drawer/_drawer
      block navigation
        include ../includes/navbar/_navbar
      main
        block sidebar
        block content
      block footer
        include ../includes/footer/_footer
    include ../includes/misc/_back-to-top
    block scripts
      include ../includes/files/_scripts
    block custom-js
