//
// Mixins - Badge
// =============================================================================

// Badge variant
@mixin badge-variant($bg) {
  background-color: $bg;
  color: color-yiq($bg);

  @at-root a#{&} {
    @include hover-focus() {
      background-color: darken($bg, 10%);
      color: color-yiq($bg);
    }

    &:focus,
    &.focus {
      outline: 0;
      box-shadow: 0 0 0 $badge-focus-width rgba($bg, .5);
    }
  }
}
