//
// Mixins - Text hide
// =============================================================================
// CSS image replacement

// Text hide
@mixin text-hide() {
  border: 0;
  background-color: transparent;
  color: transparent;
  // stylelint-disable-next-line font-family-no-missing-generic-family-keyword
  font: 0/0 a;
  text-shadow: none;
}
