//
// Mixins - Text truncate
// ============================================================================
// Requires inline-block or block for proper styling

// Text truncate
@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
