//- includes/sections/hero/_hero.pug
section#hero
  .hero-unit
    .hero-content
      h1.branding.display-2.mb-0 UniKorn
      img.img-fluid(alt="UniKorn" src="images/unikorn-logo.png")
      p.lead.font-weight-bold Framework for Dreamers
      p.mb-0
        a.btn.btn-lg.btn-secondary.mr-3(alt="Get started" href="#!") Get started
        a.btn.btn-lg.btn-primary(alt="Download" href="#!") Download
    include ../../misc/_scroll-down
