//- includes/footer/_footer-call-to-action.pug
section.footer-call-to-action.text-light#uni-star-us
  .container
    .row
      .col-12.text-center
        h3.h1.m-0 Framework for Dreamers!
        p.mt-4.mb-0
          a.btn.btn-lg.btn-secondary.mr-md-3(href="#!" target="_blank" rel="nofollow noopener" title="Star on Github") #[i.fab.fa-github] &nbsp;Star us on Github
          a.btn.btn-lg.btn-primary.mr-md-3(href="#!" target="_blank" rel="nofollow noopener" title="Tweet it") #[i.fab.fa-twitter] &nbsp;Tweet it
          a.btn.btn-lg.btn-success.mb-0(href="#!" target="_blank" rel="nofollow noopener" title="Reddit this!") #[i.fab.fa-reddit] &nbsp;Reddit this!
