//- grids.pug
extends _layout/grid

prepend setting
  - title = 'Grid System';

block content
  h1.my-3.text-center= title

  .default#default
    .container
      h2.my-3 Default
      include _includes/misc/col-grids

  hr

  .grids#grids
    .container
      h2.my-3 New Grids
      include _includes/misc/col-grids

block custom-js
  script.
    $(window).on("load orientationchange resize", function() {
      $( ".col-grid" ).html(function () {
        var colWidth = $( this ).width();
        $( this ).text( colWidth );
      });
    });
