//- index.pug
extends layout/_base

prepend setting
  - title = 'UniKorn Framework for Dreamers';

block content
  include includes/sections/hero/_hero
  include includes/sections/features/_features

append custom-js
  include partials/_custom-js
