//- index.pug
extends _layout/base

prepend setting
  - title = 'UniKorn Framework for Dreamers';

block content
  include _includes/sections/hero/hero
  include _includes/sections/features/features

append custom-js
  include _partials/custom-js
