//- _partials/analytics.pug
//--- Global site tag (gtag.js) - Google Analytics
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-81488219-5")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-81488219-5', {
      'user_id': 'Us19Er69'
    });
    gtag('set', {
      'cookie_flags': 'SameSite=None;Secure'
    });
