//- _includes/search/navbar-search.pug
.uni-search
  .container
    form(action="#" role="search")
      .input-group
        input.form-control.text-light.bg-dark(type="text" name="q" placeholder="Search for unikorns and hit enter")
        .input-group-btn
          button.btn.btn-danger.d-flex(type="reset")
            i.material-icons close
