//- _includes/drawer/drawer-accordion.pug
//--- Drawer accordion with collapse
aside.drawer.fade#drawer(tabindex="-1" role="dialog" aria-hidden="true")
  .drawer-dialog.drawer-dark(role="document")
    .drawer-content
      .drawer-header
        a.drawer-logo(href="./")
          img.img-fluid(alt="UniKorn" src="images/unikorn-logo.png")
        button.close(type="button" role="button" data-dismiss="drawer" aria-label="Close")
          i.material-icons close
      .drawer-body
        ul.drawer-nav#drawerAccordion
          li.nav-item
            a.nav-link.collapse-toggle(data-toggle="collapse" data-parent="#drawerAccordion" href="#drawerStart" aria-expanded="true" aria-controls="drawerStart") Getting started
            .collapse-menu.collapse.mb-1.show#drawerStart(role="tabpanel")
              a.collapse-item(href="./") #[i.material-icons home] Home
              a.collapse-item(href="#!") #[i.material-icons history] Story
              a.collapse-item(href="#!") #[i.material-icons info_outline] About
              a.collapse-item(href="#!") #[i.material-icons insert_photo] Portfolio
              a.collapse-item(href="#!") #[i.material-icons email] Contact
          li.nav-item
            a.nav-link.collapse-toggle.collapsed(data-toggle="collapse" data-parent="#drawerAccordion" href="#drawerComponent" aria-expanded="false" aria-controls="drawerPartners") Components
            .collapse-menu.collapse.mb-1#drawerComponent(role="tabpanel")
              a.collapse-item(href="#!") #[i.material-icons cloud] Cloud
              a.collapse-item(href="#!") #[i.material-icons laptop] Laptop
              a.collapse-item(href="#!") #[i.material-icons tablet] Tablet
              a.collapse-item(href="#!") #[i.material-icons computer] Computer
              .drawer-divider
              a.collapse-item(href="#!") #[i.material-icons headset] Headset
              a.collapse-item(href="#!") #[i.material-icons scanner] Scanner
              a.collapse-item(href="#!") #[i.material-icons speaker] Speaker
          li.nav-item
            a.nav-link.collapse-toggle.collapsed(data-toggle="collapse" data-parent="#drawerAccordion" href="#drawerSocial" aria-expanded="false" aria-controls="drawerSocial") Social media
            .collapse-menu.collapse.mb-1#drawerSocial(role="tabpanel")
              a.collapse-item(href="#!") #[i.material-icons face] Facebook
              a.collapse-item(href="#!") #[i.material-icons face] Twitter
              a.collapse-item(href="#!") #[i.material-icons face] Google +
              a.collapse-item(href="#!") #[i.material-icons face] GitHub
          li.nav-item
            a.nav-link.collapse-toggle.collapsed(data-toggle="collapse" data-parent="#drawerAccordion" href="#drawerSupport" aria-expanded="false" aria-controls="drawerSupport") Support
            .collapse-menu.collapse#drawerSupport(role="tabpanel")
              a.collapse-item(href="#!") #[i.material-icons feedback] Feedback
              a.collapse-item(href="#!") #[i.material-icons build] Support
              a.collapse-item(href="#!") #[i.material-icons note] Terms
              a.collapse-item(href="#!") #[i.material-icons help] Help
      .drawer-footer
        include ../misc/copyright
