//- _includes/footer/footer-social.pug
section.footer-social#social
  .container
    .row
      .col-12.text-center
        p.mb-0
          a.btn-floating.ml-0(href="#!" target="_blank" rel="nofollow noopener"): i.fab.fa-facebook
          a.btn-floating(href="#!" target="_blank" rel="nofollow noopener"): i.fab.fa-twitter
          a.btn-floating(href="#!" target="_blank" rel="nofollow noopener"): i.fab.fa-youtube
          a.btn-floating(href="#!" target="_blank" rel="nofollow noopener"): i.fab.fa-google-plus
          a.btn-floating(href="#!" target="_blank" rel="nofollow noopener"): i.fab.fa-linkedin
          a.btn-floating(href="#!" target="_blank" rel="nofollow noopener"): i.fab.fa-pinterest
          a.btn-floating(href="#!" target="_blank" rel="nofollow noopener"): i.fab.fa-codepen
          a.btn-floating.mr-0(href="#!" target="_blank" rel="nofollow noopener"): i.fab.fa-github
