//- _includes/footer/footer-social.pug
section.footer-social.mb-3
  .container
    .row
      .col-12.text-center
        p.mb-0
          a.btn-floating.btn-social-all#footer-social-facebook(href="#!" target="_blank" rel="nofollow noopener"): i.fab.fa-facebook
          a.btn-floating.btn-social-all#footer-social-twitter(href="#!" target="_blank" rel="nofollow noopener"): i.fab.fa-twitter
          a.btn-floating.btn-social-all#footer-social-youtube(href="#!" target="_blank" rel="nofollow noopener"): i.fab.fa-youtube
          a.btn-floating.btn-social-all#footer-social-gplus(href="#!" target="_blank" rel="nofollow noopener"): i.fab.fa-google-plus
          a.btn-floating.btn-social-all#footer-social-linkedin(href="#!" target="_blank" rel="nofollow noopener"): i.fab.fa-linkedin
          a.btn-floating.btn-social-all#footer-social-pinterest(href="#!" target="_blank" rel="nofollow noopener"): i.fab.fa-pinterest
          a.btn-floating.btn-social-all#footer-social-codepen(href="#!" target="_blank" rel="nofollow noopener"): i.fab.fa-codepen
          a.btn-floating.btn-social-all#footer-social-github(href="#!" target="_blank" rel="nofollow noopener"): i.fab.fa-github
