//
// Styles
// =============================================================================
// stylelint-disable declaration-no-important

@import "globals/functions";
@import "globals/variables";
@import "globals/mixins";


// Base structure
// --------------------------
// body {
//   background-color: #000;
// }


// Globals
// --------------------------
// Typography
// Links
// Lists


// Animation
// --------------------------
@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(-24px);
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(24px);
  }
}


// Navigation
// --------------------------
.navbar {
  i {
    font-size: 32px;
  }

  .navbar-nav {
    margin-right: -15px;

    .dropdown-toggle::after {
      display: none;
    }

    .dropdown-menu {
      position: absolute !important;
    }

    .dropdown-menu-right {
      right: 15px;
      left: auto;
    }
  }
}

.uni-search {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  transform: rotateX(-90deg);
  transform-origin: 0 0 0;
  visibility: hidden;

  &.open {
    transform: rotateX(0);
    visibility: visible;
  }

  & > .container {
    max-width: 100%;
    padding: 0;
  }

  form {
    width: 100%;
  }

  .form-control {
    height: auto;
    border-width: 0;
    border-radius: 0;
    font-size: 24px;

    &:focus {
      border-color: transparent;
      outline: 0;
      box-shadow: none;
    }
  }

  .input-group-btn {
    & > .btn {
      padding: 12px;
      border-width: 0;
      border-radius: 0;
    }
  }
}


// Drawer
// --------------------------
.drawer-logo {
  background-color: $red; // #dc3545 (default) or #d04615;
}


// Main
// --------------------------
.hero-unit {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url(../images/hero-unit/spectral-portrait.svg) center center / cover no-repeat;
  text-align: center;

  .hero-content {
    display: block;
    width: 100%;
    padding: 0 15px;
  }

  @media (min-width: 768px) {
    background: url(../images/hero-unit/spectral.svg) center center / cover no-repeat;
  }
}

.branding {
  font-family: "New Rocker", cursive;
}


// Footer
// --------------------------
.footer {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: rgba(255, 255, 255, .7);
}

.footer-call-to-action {
  padding: 3rem 0 2rem;

  .h3 {
    font-size: 2.5rem;
  }

  .btn {
    margin: 0 auto 1rem;

    @media (max-width: 575px) {
      display: block;
      width: 70%;
    }

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}

.footer-social {
  padding-bottom: 2rem;

  .btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0 8px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #436281;
    font-size: 1.25rem;
    line-height: 2.4;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    cursor: pointer;

    svg {
      color: #fff;
    }
  }
}

.footer-copyright {
  width: 100%;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, .2);
}


// Misc.
// --------------------------
.scroll-down {
  position: absolute;
  right: 0;
  bottom: 16px;
  left: 0;
  display: inline-block;
  width: 120px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: 576px) {
    bottom: 40px;
  }

  &:hover {
    .scroll-down-text {
      opacity: 1;
      transform: translateY(0);
    }

    .scroll {
      animation: none;
    }
  }

  .scroll-down-text {
    display: none;
    color: rgba(255, 255, 255, .7);
    text-shadow: 0 0 5px #000;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(48px);
    transition: all .3s;

    @media (min-width: 576px) {
      display: block;
    }
  }

  .scroll-down-icon {
    color: rgba(255, 255, 255, .7);
    transition: all .2s ease-in;
    cursor: pointer;

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }

  .scroll {
    display: block;
    margin: 0 auto;
    font-size: 4rem;
    animation-name: scroll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

.back-to-top {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: none;
  width: 100%;
  margin: 0 auto;

  .back-to-top-icon {
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    padding: .5rem;
    margin: 0;
    background: #b2b2b2;
    background: rgba(178, 178, 178, .7);
    text-align: center;
    transition: .5s;
    cursor: pointer;

    @media (min-width: 768px) {
      right: 2rem;
      bottom: 1.5rem;
      padding: .75rem;
    }

    &:hover {
      background: rgba(178, 178, 178, 1);
      transition: .5s;
    }

    i {
      z-index: 20;
      font-size: 1.5rem;
    }
  }

  .back-to-top-bg-change {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: rgba(153, 14, 81, .9);
  }
}
