//- _includes/sections/features/features.pug
section.content-1#uni-features(style="padding: 75px 0; width: 100%")
  .container
    .row
      .col-6.col-md-4.text-center
        img.img-fluid.mx-5.mx-md-4(src="images/blocks/pig.svg" alt="Pig")
        h2.h3.mt-2 It's Free
        p.text-tint Licensed under the #[a(href="#!" target="_blank" rel="nofollow noopener" title="UniKorn MIT License") MIT], you can use the UniKorn for free in your project to boost your website design.
      .col-6.col-md-4.text-center
        img.img-fluid.mx-5.mx-md-4(src="images/blocks/play.svg" alt="Play")
        h2.h3.mt-2 Get Started
        p.text-tint Download the package, select the design blocks you like and your website design is ready in minutes. #[a(href="#!" target="_blank" rel="nofollow noopener" title="Get Started") Read more] about getting started on Github.
      .col-6.col-md-4.text-center
        img.img-fluid.mx-5.mx-md-4(src="images/blocks/dev.svg" alt="Dev")
        h2.h3.mt-2 Contribute
        p.text-tint A new standard in web design is taking shape. Be part of the evolution and #[a(href="#!" target="_blank" rel="nofollow noopener" title="Idea List") contribute] with your own design blocks.
      .col-6.col-md-4.text-center
        img.img-fluid.mx-5.mx-md-4(src="images/blocks/screen.svg" alt="Screen")
        h2.h3.mt-2 Building Blocks
        p.text-tint Build awesome websites faster. We've grouped the most popular design layouts in 10 categories, and more are to come.
      .col-6.col-md-4.text-center
        img.img-fluid.mx-5.mx-md-4(src="images/blocks/hosted.svg" alt="Hosted")
        h2.h3.mt-2 Google Fonts
        p.text-tint By default, the UniKorn Framework is using Roboto Google font, however it can easily be changed with any other #[a(href="https://fonts.google.com/" target="_blank" rel="nofollow noopener" title="Google Fonts") Google font].
      .col-6.col-md-4.text-center
        img.img-fluid.mx-5.mx-md-4(src="images/blocks/responsive.svg" alt="Responsive")
        h2.h3.mt-2 Responsive
        p.text-tint All design blocks are based on the Bootstrap grid 4 and they adapt based on the screen size.
